*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainbody{
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100vh;
    margin: 10px auto;
    background-color: antiquewhite;
}
form{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    width: 100%;
    height: 100vh;
    background-color: aqua;

}
.elements{
    margin-left: 10%;
    margin-top: 30px;

}
label{
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;

}
input{
    width: 50%;
}


.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.valid-input {
    border: 2px solid green;
}

.invalid-input {
    border: 2px solid red;
}
#password-strength {
    height: 5px;
    background-color: transparent; 
    margin-top: 5px;
    margin-left: 50%;
    transition: width 0.3s; 
}
#submitBtn{
    width: 20%;
   margin: 10px auto;
}